@import "tailwindcss";

@theme {
  
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;

  --color-background: #ffffff;      
  --color-surface: #f8fafc;        
  --color-border: #e5e7eb;         
  
  --color-text-main: #111827;       
  --color-text-muted: #6b7280;     
}


@layer utilities {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary-hover transition-colors font-medium cursor-pointer;
  }
  
  .card {
    @apply bg-surface border border-border rounded-xl shadow-sm p-6;
  }
  
  .input-field {
    @apply w-full px-4 py-2 border border-border rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent outline-none transition-all;
  }
  
  .label-text {
    @apply block text-sm font-medium text-text-main mb-1;
  }
  .error-message {
    @apply text-red-400
  }
}